body {
  background-image: url("/imag/FB_IMG_1677124407306.jpg");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

h1 {
  text-align: center;
  /* Aumentar tamaño de fuente de th y td */
  font-size: 3em;
  margin-bottom: 50px;
  color: red;
  /* Aplicar negrita al texto de th y td */
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
}

thead {
  background-color: #333;
  color: #fff;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  color:red;
  font-size: 1.5em;
  text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}
